@media (max-width: 800px) {
  #logo {
    font-size: 20px;
  }

  #menu {
    text-align: center;
    font-size: 12px;
    height: 50px;
  }
}

@media (max-width: 655px) {
  #menu {
    text-align: center;
    font-size: 9px;
  }
}

@media (max-width: 550px) {
  #global {
    width: 80%;
  }
  #logo {
    font-size: 20px;
    margin-bottom: 0px;
  }

  #menu {
    text-align: left;
    font-size: 10px;
  }

  .galeria img {
    width: 100%;
    height: 210px;
  }
  #posts {
    width: 100%;
    float: left;
    font-family: Helvetica, arial;
  }
  #sidebar {
    width: 100%;
  }

  .bx-viewport {
    height: 210px;
  }

  #box {
    width: 100%;
  }

  .signboard {
    top: 5px;
    width: 100px;
    height: 100px;
    margin: auto;
    color: #fff;
    border-radius: 10px;
  }

  .outer:active .right {
    transform: rotate(-10deg) translateX(79px) scale(0.9);
  }
  .outer:active .left {
    transform: rotate(8deg) translateX(-76px) scale(0.9);
  }

  .month,
  .day {
    font-size: 10px;
    line-height: 40px;
  }
  .date {
    font-size: 25px;
    line-height: 20px;
  }

  .clock {
    font-size: 25px;
    line-height: 100px;
  }

  .subir {
    width: 25%;
    font-size: 12px;
  }
}

@media (max-width: 503px) {
  #global {
    top: 10%;
    width: 80%;
  }
  #logo {
    font-size: 20px;
  }

  #menu {
    text-align: left;
    font-size: 5px;
  }

  #selector-theme {
    top: 5%;
    width: 27px;
    height: 147px;
  }

  #to-blue,
  #to-red,
  #to-black {
    width: 10px;
    height: 30px;
    margin-top: 9px;
    margin-bottom: 16px;
    border-radius:6px;
  }



  #posts {
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }

  #acordeon{
    font-size: 12px;
    margin-top: 10px;
  }

  #form_contact {
    width: 100%;
    margin-top: 20px;
}

  .button-more,
  .subir,
  #logout,
  .entrar {
    width: 75px;
    height: 30px;
    line-height: 32px;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 20px;
  }

  #sidebar {
    width: 100%;
  }

  #sidebar img {
    margin-left: 77px;
    width: 50%;
    height: auto;
  }

  #sidebar p {
    font-size: 12px;
  }

  #logout,
  .entrar {
    width: 64px;
    line-height: 29px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .subir {
    margin-top: 7px;
  }

}
